.Controls {
  display: inline-flex;
  position: relative;
  vertical-align: top;
  align-items: center;
  width: 20vw;
  top: 0;
  height: auto;
}

.component {
  background-color: transparent;
  width: 90%;
  margin: auto;
  text-align: center;
}

.musicCover {
  border: 1px white solid;
  border-radius: 10%;
  height: 15.625vw;
  width: 15.625vw;
  object-fit: cover;
}

.playButton,
.pauseButton,
.skipButton,
.skipPreviousButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  margin-left: 0.78125vw;
}

.playButton:hover,
.pauseButton:hover,
.skipButton:hover,
.skipPreviousButton:hover {
  text-shadow: rgb(0, 0, 0) 3px 0 10px;
  stroke-width: 2;
  filter: drop-shadow(1px 1px 8px #ffffffcc);
  cursor: pointer;
  transform: scale(1.06);
}

.subTitle {
  font-size: 0.78125vw;
  margin-top: -1em;
  color: #6d6d6d;
}
.subTitleAlbum {
  font-size: 0.78125vw;
  margin-top: 1em;
  color: #6d6d6d;
}

.time {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #828282;
}
.time p {
  font-size: 0.78125vw;
}
.timeline {
  padding: 0;
  width: 80%;
  background-color: #f6f7f6;
}

.audioline {
  margin-top: -0.78125vw;
  margin-left: 0.78125vw;
  margin-right: 0.78125vw;
}
.audioline input[type="range"] {
  padding: 0;
  width: 8vw;
  height: 0.364583vw;
  border-radius: 22px;
}

.scrollingBox {
  margin-left: 15%;
  max-width: 70%;
  overflow: hidden;
}
.scrollingText {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.scrollingText p {
  display: inline-block;
  font-size: 1.0416vw;
  color: white;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.AudioVisualizerBox {
  position: absolute;
  top: 18.2291vw;
  width: 20vw;
  margin-left: 1.5625vw;
  display: none;
}
.audiolineBox {
  display: flex;
  bottom: 0.2vw;
  width: 90%;
  left: 5%;
  align-items: center;
  justify-content: center;
}

.Visual {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 2.2vw;
  top: 14vw;

  border-radius: 10%;
  height: 15.625vw;
  width: 15.625vw;
}

.AudioVisualizerBox {
  position: relative;
  width: 100%;
  top: 67%;
  left: -3.3%;
  border-radius: 25%;
}
.loading {
  position: relative;
  justify-content: center;
  align-items: center;
  top: 40%;
}
.loadingSvgContainer {
  position: relative;
  left: 40%;
}
.icon {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 13.541vw;
  height: 5.208vw;
}
@keyframes bounce {
  10% {
    transform: scaleY(0.1); /* start by scaling to 30% */
  }
  20% {
    transform: scaleY(0.4); /* scale up to 100% */
  }
  30% {
    transform: scaleY(0.65); /* scale down to 50% */
  }
  40% {
    transform: scaleY(0.75); /* scale up to 75% */
  }
  50% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
  60% {
    transform: scaleY(0.2); /* start by scaling to 30% */
  }
  70% {
    transform: scaleY(1.1); /* scale up to 100% */
  }
  80% {
    transform: scaleY(0.6); /* scale down to 50% */
  }
  90% {
    transform: scaleY(0.85); /* scale up to 75% */
  }
  100% {
    transform: scaleY(0.5); /* scale down to 60% */
  }
}

.icon span {
  width: 3px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  transform-origin: bottom;
  animation: bounce 2.2s ease infinite alternate;
  content: "";
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}
.icon span:nth-of-type(2) {
  animation-delay: -2.2s;
}
.icon span:nth-of-type(3) {
  animation-delay: -3.7s;
}
.icon span:nth-of-type(4) {
  animation-delay: -1.2s;
}
.icon span:nth-of-type(5) {
  animation-delay: -4.2s;
}
.icon span:nth-of-type(6) {
  animation-delay: -2.8s;
}
.icon span:nth-of-type(7) {
  animation-delay: -3.7s;
}
.icon span:nth-of-type(8) {
  animation-delay: -4.2s;
}
.icon span:nth-of-type(9) {
  animation-delay: -2.5s;
}
.icon span:nth-of-type(10) {
  animation-delay: 1.2s;
}
.icon span:nth-of-type(12) {
  animation-delay: -2.2s;
}
.icon span:nth-of-type(13) {
  animation-delay: -3.7s;
}
.icon span:nth-of-type(14) {
  animation-delay: -1.2s;
}
.icon span:nth-of-type(15) {
  animation-delay: -4.2s;
}
.icon span:nth-of-type(16) {
  animation-delay: -2.8s;
}
.icon span:nth-of-type(17) {
  animation-delay: -3.7s;
}
.icon span:nth-of-type(18) {
  animation-delay: -4.2s;
}
.icon span:nth-of-type(19) {
  animation-delay: -2.5s;
}
.icon span:nth-of-type(20) {
  animation-delay: 1.2s;
}
.icon span:nth-of-type(21) {
  animation-delay: 0.2s;
}
.Visualizer {
  display: fixed;
  height: 10vw;
}
.pauseBtn,
.playBtn {
  width: 5vw;
  height: 5vw;
  color: white;
}
.skipBtn,
.prevBtn {
  width: 3vw;
  height: 3vw;
  color: white;
}
.muteBtn,
.volUpBtn {
  width: 1.5vw;
  height: 2.5vw;
  color: white;
}
