h1 {
  width: auto;
  font-size: 1.3vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
span {
  display: block;
  font-size: 1.8vw;
  font-weight: bold;
  text-align: center;
}

.Controls {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  margin-top: -1%;
}

.Controls li:first-child {
  margin-left: 0.3vw;
}

.Icon4,
.Icon5 {
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  width: 5vw;
  height: 9vh;
  object-fit: cover;
}
.Icon6 {
  border-radius: var(--br-sm);
  width: 7vw;
  height: 15vh;
}

.Progress {
  margin-top: -3.5%;
  background-color: white;
  border-radius: 17px;
  height: 1.4vh;
  width: 5%;
  margin-left: 5%;
  margin-right: auto;
  z-index: 1;
}
.ProgressBar {
  margin-top: 5%;
  background-color: black;
  border-radius: 17px;
  border: 1px white solid;
  height: 1.4vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.Icon4:hover,
.Icon5:hover,
.Icon6:hover {
  text-shadow: rgb(0, 0, 0) 3px 0 10px;
  stroke-width: 2;
  filter: drop-shadow(1px 1px 8px rgba(255, 255, 255, 0.8));
  cursor: pointer;
  transform: scale(1.06);
}

.ScrollText {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  z-index: 1;
  white-space: nowrap;
}
.Title {
  width: 70%;
  margin: auto;
  margin-left: 10%;
  animation: marquee 15s linear infinite;
  will-change: transform;
  display: inline-block;
}

@keyframes marquee {
  from {
    transform: translateX(160%);
  }
  to {
    transform: translateX(-300%);
  }
}
