.Controls {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  margin-left: -15px;
}

.Title {
  width: 70%;
  display: inline-block;
  font-size: 25px;
}

.component {
  background-color: transparent;
  width: 90%;
  margin: auto;
  text-align: center;
}

.musicCover {
  border-radius: 10%;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.playButton,
.pauseButton,
.skipButton,
.skipPreviousButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.skipButton,
.skipPreviousButton {
  margin-top: 2%;
}
.playButton:hover,
.pauseButton:hover,
.skipButton:hover,
.skipPreviousButton:hover {
  text-shadow: rgb(0, 0, 0) 3px 0 10px;
  stroke-width: 2;
  filter: drop-shadow(1px 1px 8px #ffffffcc);
  cursor: pointer;
  transform: scale(1.06);
}

.subTitle {
  font-size: 15px;
  margin-top: -1em;
  color: #313131;
}
.subTitleAlbum {
  font-size: 15px;
  margin-top: 1em;
  color: #313131;
}

.time {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: smaller;
}

.timeline {
  padding: 0;
  width: 80%;
  margin-bottom: 40px;
  background-color: #f6f7f6;
}

.scrollingBox {
  margin-left: 15%;
  max-width: 70%;
  overflow: hidden;
}
.scrollingText {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.scrollingText p {
  display: inline-block;
  font-size: 20px;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.AudioVisualizerBox {
  position: absolute;
  top: 350px;
  width: 300px;
  margin-left: 30px;
}
