.RightWindow {
  width: 80vw;
  height: auto;
  margin-left: 20vw;
}

.Text {
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3vh;
  font-weight: 700;
}

li:first-child {
  margin-left: -1vw;
}

.rectangle {
  position: fixed;
  height: 4.26vh;
  width: 0.75vw;
  background-color: rgb(255, 255, 255);
  margin-top: 18vh;
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}
