.ArtistPage {
  width: 100%;

  height: 100%;
}

.RightWindow {
  width: 80vw;
  color: inherit;
  display: block;
  margin-left: 20vw;
  height: 100vh;
}

.Text {
  margin-top: 0;
  padding-top: 1vh;
  padding-left: 1vw;
  margin-bottom: 0;
  font-size: 3vh;
}

.searchIcon {
  width: 32px;
  height: 32px;
  background-color: transparent;
  position: relative;
  top: -50px;
  left: 74vw;
}

.rectangle {
  position: fixed;
  height: 2.083vw;
  width: 0.781vw;
  background-color: rgb(255, 255, 255);
  left: 0vw;
  top: 6.2vh;
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
  z-index: 10;
}

.AlbumImage {
  width: 15.625vw;
  height: 15.625vw;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  outline: 1px solid white;
  border-radius: 0.9vw;
  outline-offset: -3px;
  margin-left: 0px;
}

.ImageOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 15.625vw;
  width: 15.625vw;
  border-radius: 0.9vw;
}
.ImageOverlay:hover {
  background: rgba(0, 0, 0, 0.45);
}
.MusicData {
  margin-top: 10vh;
  margin-left: 3.9vw;
  width: 76vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

.TrackBox {
  margin-top: 1vh;
  margin-bottom: 1vh;
  position: relative;
  display: flex;
  width: 15.625vw;
  height: 15.625vw;
  background-color: transparent;
  text-align: center;
  margin-right: 3.3vw;
}

.TrackBox p,
span {
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 10px rgb(0, 0, 0, 1);
}

h5,
h6 {
  text-shadow: 10px rgb(0, 0, 0, 1);
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 1.1vw;
}
h6 {
  color: rgb(179, 179, 179);
}
.PaginationBox {
  position: fixed;
  left: 60%;
  transform: translateX(-50%);
  bottom: 10px;
  font-size: 1.1vw;
}

.PlayButton {
  visibility: visible;
  position: absolute;
  bottom: 1%;
  right: 5%;
  z-index: 1;
}

.AddButton {
  visibility: visible;
  position: absolute;
  bottom: 1%;
  left: 5%;
  z-index: 1;
}
.TrackBox:hover {
  filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.8));
  transform: scale(1.06);
  font-size: 105%;
}

.TrackBox,
h5,
h6,
p {
  filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 0.1));
}
.Text {
  padding-top: 2.5vh;
  margin-left: 6vw;
}
.backBtn {
  position: absolute;
  top: 0.5vh;
  margin-left: 3vw;
}

.backBtn:hover {
  text-shadow: rgb(0, 0, 0) 3px 0 10px;
  stroke-width: 2;
  filter: drop-shadow(1px 1px 8px #ffffffcc);
  cursor: pointer;
  transform: scale(1.06);
}
.LikeButton {
  visibility: visible;
  position: absolute;
  top: 80%;
  left: 40%;
  z-index: 1;
}
.likeBtn:hover,
.addToListBtn:hover,
.playBtn:hover {
  text-shadow: rgb(0, 0, 0) 3px 0 10px;
  filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 0.8));
  transform: scale(1.06);
  cursor: pointer;
}
.addToListBtn {
  width: 3vw;
  height: 7vh;
  position: fixed;
  bottom: 0;
  left: 5px;
}
.likeBtn {
  width: 3vw;
  height: 7vh;
  position: fixed;
  bottom: 0;
  left: 40%;
}
.playBtn {
  width: 3vw;
  height: 7vh;
  position: fixed;
  bottom: 0;
  right: 0;
}
.Pagination-textPrimary {
  color: rgb(252, 252, 252);
}
.Pagination svg {
  width: 1vw;
  height: 1vw;
}

.Pagination li {
  width: 1vw;
  height: 2vw;
  margin-left: 20px;
}
.Pagination button {
  height: 1.5vw;
  color: grey;
  background-color: rgba(0, 0, 0, 0.4);
}
