.Styles {
  display: inline-flex;
  height: auto;
  color: inherit;
}
.Styles:hover,
.newMusicStyle:hover {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
  cursor: pointer;
}

.Styles {
  list-style-type: none;
  margin-top: -1vh;
  margin-bottom: -1vh;
}
.Styles li {
  position: relative;
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.8));
}

.Style p {
  position: absolute;
  top: 1.952vw;
  text-align: center;
  font-weight: bold;
  font-size: 1.2vw;
  width: 12vw;
  text-shadow: 10px rgb(0, 0, 0, 1);
  vertical-align: middle;
  color: inherit;
}

.Styles img {
  height: 8.33vw;
  outline: 1px solid white;
  border-radius: 0.9vw;
  outline-offset: -2px;
  display: block;
  width: 12vw;
}

.ImageFilter {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;

  border-radius: 0.9vw;
}
.MusicDBContainer {
  position: relative;
  width: 95%;
  height: 9.5vw;
  margin-left: 2vw;
}
.Styles:first-child {
  margin-left: 0px;
}
.loading {
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 9.5vw;
  width: 75vw;
  top: 0vw;
  border-radius: 25px;
}
.loading svg {
  position: relative;
  top: 2.5vw;
  left: 36vw;
}
