.Icon,
.Icon1,
.Icon2 {
  vertical-align: middle;
  width: 2.4vw;
  height: auto;
  stroke-width: 1.5px;
}

.MiniMenu li:first-child {
  margin-left: 0vw;
}

.MiniMenu li:hover {
  text-shadow: rgb(0, 0, 0) 3px 0 10px;
  filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 0.8));
  transform: scale(1.06);

  font-size: 105%;
}
.MiniMenuText {
  font-size: 20px;
  color: white;
}

.Link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  margin-top: -10px;
}
.Auth {
  margin-bottom: 10px;
}
p,
span {
  font-weight: bold;
  font-size: 14px;
  text-shadow: 10px rgb(0, 0, 0, 1);
}
