.ModalWindow {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  z-index: 10;
}

.ModalWindow__content {
  position: relative;
  height: 800px;
  width: 1200px;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: white 2px solid;
}

.ButtonClose {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 10px;
  color: #ffffff;
}

.ButtonClose text:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition-duration: 500ms;
}

.Header {
  position: absolute;
  margin-top: 1%;
  margin-left: 2%;
  top: 0;
}

.Inputs {
  margin: 30px;
  display: block;
  width: 105%;
  font-size: 15px;
}

.Input {
  display: block;
  height: 5vh;
}

.Btn:hover {
  background-color: rgb(90, 5, 90);
  transform: scale(1.1);
  font-weight: bold;
  font-weight: 600;
}
.Btn {
  position: absolute;
  width: 100px;
  height: 35px;
  margin-left: 50px;
  font-size: 17px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px white solid;
  font-weight: 300;
  left: 50%;
  bottom: 0;
}

.Btns {
  position: relative;
  width: 1000px;
  height: 67vh;
}

.ArtistsData {
  margin-top: 3vh;
  margin-left: 5vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}
.ArtistImage {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  outline: 1px solid white;
  border-radius: 0.9vw;
  outline-offset: -3px;
  margin-left: 0px;
}
.ArtistBox {
  position: relative;
  display: flex;
  width: 200px;
  height: 200px;
  background-color: transparent;
  text-align: center;
  margin-right: 3.3vw;
  margin-bottom: 3.3vw;
}
.PaginationBox {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15vh;
}
.Pagination {
  background-color: transparent;
  border-radius: 40px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 2px;
  padding-right: 4px;
}
.Pagination-textPrimary {
  color: rgb(252, 252, 252);
}
.ImageOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.9vw;
}
.ImageOverlay h5 {
  margin-top: 7vh;
  color: white;
}

.FavBtn {
  visibility: visible;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
}

.FavBtn:hover {
  text-shadow: rgb(0, 0, 0) 3px 0 10px;
  filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 0.8));
  transform: scale(1.06);
}
