.SearchPage {
  width: 100vw;
  height: 100vh;
}

.RightWindow {
  color: inherit;
  display: block;
  margin-left: 20%;
}

.clearIcon {
  width: 2.5vw;
  height: 2.5vw;
  background-color: transparent;
  position: absolute;
  margin-top: 0.52vw;
  left: 74vw;
}

.SearchBar {
  position: absolute;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-bottom: 2vw;
  width: 78vw;
  color: white;
}

.Search {
  font-size: 1.5625vw;
  height: 2.604vw;
  width: 99%;
  border-radius: 0%;
  padding: 12px 24px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
}

.rectangle {
  position: fixed;
  height: 2.083vw;
  width: 0.781vw;
  background-color: rgb(255, 255, 255);
  margin-left: -20vw;
  margin-top: 6.7vh;
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
  z-index: 10;
}

.AlbumImage {
  width: 15.625vw;
  height: 15.625vw;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  outline: 1px solid white;
  border-radius: 0.9vw;
  outline-offset: -3px;
  margin-left: 0px;
}

.ImageOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 15.625vw;
  width: 15.625vw;
  border-radius: 0.9vw;
}
.ImageOverlay h5 {
  margin-top: 20px;
}
.MusicData {
  margin-top: 10vh;
  margin-left: 3.9vw;
  width: 76vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

.TrackBox {
  margin-top: 1vh;
  margin-bottom: 1vh;
  position: relative;
  display: flex;
  width: 15.625vw;
  height: 15.625vw;
  background-color: transparent;
  text-align: center;
  margin-right: 3.3vw;
}

p,
span {
  font-weight: bold;
  font-size: 14px;
  text-shadow: 10px rgb(0, 0, 0, 1);
}
h3 {
  text-shadow: 10px rgb(0, 0, 0, 1);
  margin-top: 1vw;
  margin-bottom: 0;
  font-size: 1.5vw;
}
h5,
h6 {
  text-shadow: 10px rgb(0, 0, 0, 1);
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 1.1vw;
}
h6 {
  color: rgb(179, 179, 179);
}
.Pagination-textPrimary {
  color: rgb(252, 252, 252);
}
.PaginationBox {
  position: fixed;
  left: 60%;
  transform: translateX(-50%);
  bottom: 20px;
}
.Pagination svg {
  width: 1vw;
  height: 1vw;
}

.Pagination li {
  width: 1vw;
  height: 2vw;
  margin-left: 20px;
}
.Pagination button {
  height: 1.5vw;
  color: grey;
  background-color: rgba(0, 0, 0, 0.4);
}

.LikeButton,
.AddButton,
.PlayButton {
  z-index: 1;
}
.playBtn:hover,
.likeBtn:hover,
.addToListBtn:hover,
.backBtn:hover {
  text-shadow: rgb(0, 0, 0) 3px 0 10px;
  filter: drop-shadow(1px 1px 8px #ffffffcc);
  cursor: pointer;
  transform: scale(1.06);
}
.TrackBox,
h5,
h6,
p {
  filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 0.1));
}
.Text {
  margin-left: 4vw;
}

.backBox {
  position: relative;
  display: flex;
  line-height: 34px;
}

.backBtn {
  position: absolute;

  width: 4vw;
  height: 4vw;
}
.addToListBtn {
  width: 3vw;
  height: 7vh;
  position: fixed;
  bottom: 0;
  left: 5px;
}
.likeBtn {
  width: 3vw;
  height: 7vh;
  position: fixed;
  bottom: 0;
  left: 40%;
}
.playBtn {
  width: 3vw;
  height: 7vh;
  position: fixed;
  bottom: 0;
  right: 0;
}
