.Authentication {
  display: flex;
  width: 30%;
}
.SignOutBtn {
  margin-top: 0.5vh;
  margin-right: 1vw;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.7vw;
  height: 40px;
}

.SignInBtn:hover,
.SignOutBtn:hover {
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 1));
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  cursor: pointer;
}
.SignInBtn {
  font-size: 0.7vw;
  margin-top: 0.5vh;

  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  font-weight: 600;
  height: 40px;
}
