.Favorite {
  margin-left: 3vw;
  z-index: 10;
  min-height: 20vh;
}
.Band {
  margin-left: 2.5vw;
  margin-right: 0.5vw;
  position: relative;
  width: 12vw;
  height: 26vh;
  margin-top: 1vh;
  color: inherit;
}
.Band p {
  margin-left: 1vw;
  margin-top: 1.6vh;
  font-weight: bold;
  font-size: 1.5625vw;
  width: 4vw;
  text-shadow: 1px 1px 3vw black;
  color: inherit;
}
.Bands {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: -1.7vw;
  position: relative;
}

.Bands img {
  height: 25vh;
  width: 12vw;
  outline: 1px solid white;
  border-radius: 0.9vw;
  outline-offset: -1px;
  object-fit: fill;
}

.Band:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
  cursor: pointer;
}
.NewFavorite:hover,
.AddNewImageOverlay:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
  cursor: pointer;
}
.NewFavorite {
  margin-left: 2.5vw;
  margin-right: 0.5vw;
  position: relative;
  width: 12vw;
  height: 12vw;
  margin-top: 1vh;
  outline: 1px solid white;
  border-radius: 0.9vw;
  outline-offset: -3px;
  position: relative;
}

.AddNewBtn {
  margin-left: 4.4vw;
  margin-top: 6.5vh;
  height: 5.2083vw;
  width: 5.2083vw;
  color: white;
}

.NewFavorite p {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 0.8em;
  width: 4vw;
  text-shadow: 1px 1px 3vw black;
  color: inherit;
}

.link,
.Remove {
  position: absolute;
  bottom: 10px;
  right: 0.5vw;
  fill: white;
  stroke: white;
  height: 1.5625vw;
  width: 30px;
  margin-top: 20px;
  z-index: 9;
}
.Band {
  position: relative;
  height: 12vw;
  width: 12vw;
}
.ImageOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 12vw;
  width: 12vw;
  border-radius: 0.9vw;
}

.AddNewImageOverlay {
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  left: 0;
  height: 12vw;
  width: 12vw;
  border-radius: 0.9vw;
}
.Image img {
  outline: 1px solid white;
  border-radius: 0.9vw;
  outline-offset: -2px;
  display: block;
  height: 12vw;
  width: 12vw;
}
.PaginationBox {
  position: fixed;
  left: 60%;
  transform: translateX(-50%);
  bottom: 1vh;
}

.Pagination svg {
  width: 1vw;
  height: 1vw;
}

.Pagination li {
  width: 1vw;
  height: 2vw;
  margin-left: 20px;
}
.Pagination button {
  height: 1.5vw;
  color: grey;
  background-color: rgba(0, 0, 0, 0.4);
}
